<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.apiservice.mapper.FacilityMapper">

    <select id="selectAllFacility" resultType="Map">
		SELECT 
			fclty_id,
			file_id,
			fclty_nm,
			msrmt_bgng_dt,
			msrmt_end_dt,
			lat,
			lot,
			fclty_cn,
			use_posbl_spt_yn,
			mng_oper_mby,
			etc,
			nrmlt_msrmt_yn_ceck_dt,
			nrmlt_msrmt_yn_ceck_min_intrvl,
			sys_err_exst_yn,
			sys_err_mntrg_intrvl,
			alarm_mntrg_exc_yn,
			spt_alarm_stts,
			now_alarm_grad4_sensor_co,
			now_alarm_grad3_sensor_co,
			now_alarm_grad2_sensor_co,
			now_alarm_grad1_sensor_co,
			now_alarm_normal_sensor_co,
			all_sensor_co,
			useful_sensor_co,
			nrmlt_opr_sensor_co,
			opr_rt,
			nrmlt_opr_sensor_ceck_intrvl,
			use_yn,
			del_yn,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			st_astext(geom) as geom
		FROM 
			smg.tbsmcm001
    </select>
    
    <select id="selectFacility" resultType="Map">
    	SELECT 
    		fclty_id,
			file_id,
			fclty_nm,
			msrmt_bgng_dt,
			msrmt_end_dt,
			lat,
			lot,
			fclty_cn,
			use_posbl_spt_yn,
			mng_oper_mby,
			etc,
			nrmlt_msrmt_yn_ceck_dt,
			nrmlt_msrmt_yn_ceck_min_intrvl,
			sys_err_exst_yn,
			sys_err_mntrg_intrvl,
			alarm_mntrg_exc_yn,
			spt_alarm_stts,
			now_alarm_grad4_sensor_co,
			now_alarm_grad3_sensor_co,
			now_alarm_grad2_sensor_co,
			now_alarm_grad1_sensor_co,
			now_alarm_normal_sensor_co,
			all_sensor_co,
			useful_sensor_co,
			nrmlt_opr_sensor_co,
			opr_rt,
			nrmlt_opr_sensor_ceck_intrvl,
			use_yn,
			del_yn,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			st_astext(geom) as geom
    	FROM 
    		smg.tbsmcm001 
    	WHERE 
    		fclty_id = #{fclty_id}
    </select>
    
    <insert id="insertFacility" parameterType="Map">
    	INSERT INTO 
    		smg.tbsmcm001 
    		(
	    		fclty_id,
				file_id,
				fclty_nm,
				msrmt_bgng_dt,
				msrmt_end_dt,
				lat,
				lot,
				fclty_cn,
				use_posbl_spt_yn,
				mng_oper_mby,
				etc,
				nrmlt_msrmt_yn_ceck_dt,
				nrmlt_msrmt_yn_ceck_min_intrvl,
				sys_err_exst_yn,
				sys_err_mntrg_intrvl,
				alarm_mntrg_exc_yn,
				spt_alarm_stts,
				now_alarm_grad4_sensor_co,
				now_alarm_grad3_sensor_co,
				now_alarm_grad2_sensor_co,
				now_alarm_grad1_sensor_co,
				now_alarm_normal_sensor_co,
				all_sensor_co,
				useful_sensor_co,
				nrmlt_opr_sensor_co,
				opr_rt,
				nrmlt_opr_sensor_ceck_intrvl,
				use_yn,
				del_yn,
				reg_dt,
				reg_id,
				mdfcn_dt,
				mdfcn_id,
				geom
    		)
    	VALUES (
    		#{fclty_id},
			#{file_id},
			#{fclty_nm},
			#{msrmt_bgng_dt},
			#{msrmt_end_dt},
			#{lat},
			#{lot},
			#{fclty_cn},
			#{use_posbl_spt_yn},
			#{mng_oper_mby},
			#{etc},
			#{nrmlt_msrmt_yn_ceck_dt},
			#{nrmlt_msrmt_yn_ceck_min_intrvl},
			#{sys_err_exst_yn},
			#{sys_err_mntrg_intrvl},
			#{alarm_mntrg_exc_yn},
			#{spt_alarm_stts},
			#{now_alarm_grad4_sensor_co},
			#{now_alarm_grad3_sensor_co},
			#{now_alarm_grad2_sensor_co},
			#{now_alarm_grad1_sensor_co},
			#{now_alarm_normal_sensor_co},
			#{all_sensor_co},
			#{useful_sensor_co},
			#{nrmlt_opr_sensor_co},
			#{opr_rt},
			#{nrmlt_opr_sensor_ceck_intrvl},
			#{use_yn},
			#{del_yn},
			to_char(now(),'yyyymmddhhmmss'),
			#{reg_id},
			to_char(now(),'yyyymmddhhmmss'),
			#{mdfcn_id},
			(SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
    	)
    </insert>
    
    <update id="updateFacility" parameterType="map">
    	UPDATE
		    smg.tbsmcm001
		SET
		    file_id = #{file_id},
			fclty_nm = #{fclty_nm},
			msrmt_bgng_dt = #{msrmt_bgng_dt},
			msrmt_end_dt = #{msrmt_end_dt},
			lat = #{lat},
			lot = #{lot},
			fclty_cn = #{fclty_cn},
			use_posbl_spt_yn = #{use_posbl_spt_yn},
			mng_oper_mby = #{mng_oper_mby},
			etc = #{etc},
			nrmlt_msrmt_yn_ceck_dt = #{nrmlt_msrmt_yn_ceck_dt},
			nrmlt_msrmt_yn_ceck_min_intrvl = #{nrmlt_msrmt_yn_ceck_min_intrvl},
			sys_err_exst_yn = #{sys_err_exst_yn},
			sys_err_mntrg_intrvl = #{sys_err_mntrg_intrvl},
			alarm_mntrg_exc_yn = #{alarm_mntrg_exc_yn},
			spt_alarm_stts = #{spt_alarm_stts},
			now_alarm_grad4_sensor_co = #{now_alarm_grad4_sensor_co},
			now_alarm_grad3_sensor_co = #{now_alarm_grad3_sensor_co},
			now_alarm_grad2_sensor_co = #{now_alarm_grad2_sensor_co},
			now_alarm_grad1_sensor_co = #{now_alarm_grad1_sensor_co},
			now_alarm_normal_sensor_co = #{now_alarm_normal_sensor_co},
			all_sensor_co = #{all_sensor_co},
			useful_sensor_co = #{useful_sensor_co},
			nrmlt_opr_sensor_co = #{nrmlt_opr_sensor_co},
			opr_rt = #{opr_rt},
			nrmlt_opr_sensor_ceck_intrvl = #{nrmlt_opr_sensor_ceck_intrvl},
			use_yn = #{use_yn},
			del_yn = #{del_yn},
			mdfcn_dt = to_char(now(),'yyyymmddhhmmss'),
			mdfcn_id = #{mdfcn_id},
		    geom = (SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
		WHERE
		    fclty_id = #{fclty_id}
    </update>
    
    <delete id="deleteFacility" parameterType="String">
    	DELETE FROM smg.tbsmcm001 WHERE fclty_id = #{fclty_id}
    </delete>

</mapper>