<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.apiservice.mapper.FacilitiesMapper">

    <select id="selectAllFacilities" resultType="Map">
		SELECT
			fclts_seq,
			fclty_id,
			lctn_cd,
			file_id,
			std_job_id,
			fclts_cd,
			fclts_nm,
			model_nm,
			up_eqpmn_id,
			makr,
			instl_dt,
			cnstrct_entrps,
			cnstrtr,
			bsns_info,
			fclts_seq_no,
			fclts_pic,
			use_imprty_yn,
			mntrng_yn,
			fclts_stts,
			alarm_mntrg_exc_yn,
			now_alarm_stts,
			now_alarm_stts_crtr_dt,
			trobl_dt,
			lat,
			lot,
			cycle_tmunit,
			save_cycle,
			anal_cycle,
			clct_cycle,
			exprs_cycle,
			reclct_cycle,
			rm,
			use_yn,
			del_yn,
			recnt_prcs_dt,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			anls_cycle,
			reprsnt_img_file_id,
			st_astext(geom) as geom
		FROM 
			smg.tbsmcm005
    </select>
    
    <select id="selectFacilities" resultType="Map">
    	SELECT
			fclts_seq,
			fclty_id,
			lctn_cd,
			file_id,
			std_job_id,
			fclts_cd,
			fclts_nm,
			model_nm,
			up_eqpmn_id,
			makr,
			instl_dt,
			cnstrct_entrps,
			cnstrtr,
			bsns_info,
			fclts_seq_no,
			fclts_pic,
			use_imprty_yn,
			mntrng_yn,
			fclts_stts,
			alarm_mntrg_exc_yn,
			now_alarm_stts,
			now_alarm_stts_crtr_dt,
			trobl_dt,
			lat,
			lot,
			cycle_tmunit,
			save_cycle,
			anal_cycle,
			clct_cycle,
			exprs_cycle,
			reclct_cycle,
			rm,
			use_yn,
			del_yn,
			recnt_prcs_dt,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			anls_cycle,
			reprsnt_img_file_id,
			st_astext(geom) as geom
    	FROM 
    		smg.tbsmcm005 
    	WHERE 
    		fclts_seq = #{fclts_seq}
    </select>
    
    <insert id="insertFacilities" parameterType="Map">
    	INSERT INTO 
    		smg.tbsmcm005 
    		(
	    		fclts_seq,
				fclty_id,
				lctn_cd,
				file_id,
				std_job_id,
				fclts_cd,
				fclts_nm,
				model_nm,
				up_eqpmn_id,
				makr,
				instl_dt,
				cnstrct_entrps,
				cnstrtr,
				bsns_info,
				fclts_seq_no,
				fclts_pic,
				use_imprty_yn,
				mntrng_yn,
				fclts_stts,
				alarm_mntrg_exc_yn,
				now_alarm_stts,
				now_alarm_stts_crtr_dt,
				trobl_dt,
				lat,
				lot,
				cycle_tmunit,
				save_cycle,
				anal_cycle,
				clct_cycle,
				exprs_cycle,
				reclct_cycle,
				rm,
				use_yn,
				del_yn,
				recnt_prcs_dt,
				reg_dt,
				reg_id,
				mdfcn_dt,
				mdfcn_id,
				anls_cycle,
				reprsnt_img_file_id,
				geom
    		)
    	VALUES (
    		#{fclts_seq},
			#{fclty_id},
			#{lctn_cd},
			#{file_id},
			#{std_job_id},
			#{fclts_cd},
			#{fclts_nm},
			#{model_nm},
			#{up_eqpmn_id},
			#{makr},
			#{instl_dt},
			#{cnstrct_entrps},
			#{cnstrtr},
			#{bsns_info},
			#{fclts_seq_no},
			#{fclts_pic},
			#{use_imprty_yn},
			#{mntrng_yn},
			#{fclts_stts},
			#{alarm_mntrg_exc_yn},
			#{now_alarm_stts},
			#{now_alarm_stts_crtr_dt},
			#{trobl_dt},
			#{lat},
			#{lot},
			#{cycle_tmunit},
			#{save_cycle},
			#{anal_cycle},
			#{clct_cycle},
			#{exprs_cycle},
			#{reclct_cycle},
			#{rm},
			#{use_yn},
			#{del_yn},
			#{recnt_prcs_dt},
			to_char(now(),'yyyymmddhhmmss'),
			#{reg_id},
			to_char(now(),'yyyymmddhhmmss'),
			#{mdfcn_id},
			#{anls_cycle},
			#{reprsnt_img_file_id},
			(SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
    	)
    </insert>
    
    <update id="updateFacilities" parameterType="map">
    	UPDATE
		    smg.tbsmcm005
		SET
		    file_id = #{file_id},
			std_job_id = #{std_job_id},
			fclts_cd = #{fclts_cd},
			fclts_nm = #{fclts_nm},
			model_nm = #{model_nm},
			up_eqpmn_id = #{up_eqpmn_id},
			makr = #{makr},
			instl_dt = #{instl_dt},
			cnstrct_entrps = #{cnstrct_entrps},
			cnstrtr = #{cnstrtr},
			bsns_info = #{bsns_info},
			fclts_seq_no = #{fclts_seq_no},
			fclts_pic = #{fclts_pic},
			use_imprty_yn = #{use_imprty_yn},
			mntrng_yn = #{mntrng_yn},
			fclts_stts = #{fclts_stts},
			alarm_mntrg_exc_yn = #{alarm_mntrg_exc_yn},
			now_alarm_stts = #{now_alarm_stts},
			now_alarm_stts_crtr_dt = #{now_alarm_stts_crtr_dt},
			trobl_dt = #{trobl_dt},
			lat = #{lat},
			lot = #{lot},
			cycle_tmunit = #{cycle_tmunit},
			save_cycle = #{save_cycle},
			anal_cycle = #{anal_cycle},
			clct_cycle = #{clct_cycle},
			exprs_cycle = #{exprs_cycle},
			reclct_cycle = #{reclct_cycle},
			rm = #{rm},
			use_yn = #{use_yn},
			del_yn = #{del_yn},
			recnt_prcs_dt = #{recnt_prcs_dt},
			mdfcn_dt = to_char(now(),'yyyymmddhhmmss'),
			mdfcn_id = #{mdfcn_id},
			anls_cycle = #{anls_cycle},
			reprsnt_img_file_id = #{reprsnt_img_file_id},
		    geom = (SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
		WHERE
		    fclts_seq = #{fclts_seq}
    </update>
    
    <delete id="deleteFacilities" parameterType="int">
    	DELETE FROM smg.tbsmcm005 WHERE fclts_seq = #{fclts_seq}
    </delete>

</mapper>