<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.apiservice.mapper.LocationMapper">

    <select id="selectAllLocation" resultType="Map">
		SELECT 
			fclty_id,
			lctn_cd,
			file_id,
			lctn_nm,
			lat,
			lot,
			now_opratn_yn,
			use_yn,
			del_yn,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			st_astext(geom) as geom
		FROM 
			smg.tbsmcm002
    </select>
    
    <select id="selectLocation" resultType="Map">
    	SELECT 
			fclty_id,
			lctn_cd,
			file_id,
			lctn_nm,
			lat,
			lot,
			now_opratn_yn,
			use_yn,
			del_yn,
			reg_dt,
			reg_id,
			mdfcn_dt,
			mdfcn_id,
			st_astext(geom) as geom
    	FROM 
    		smg.tbsmcm002 
    	WHERE 
    		lctn_cd = #{lctn_cd}
    </select>
    
    <insert id="insertLocation" parameterType="Map">
    	INSERT INTO 
    		smg.tbsmcm002 
    		(
	    		fclty_id,
				lctn_cd,
				file_id,
				lctn_nm,
				lat,
				lot,
				now_opratn_yn,
				use_yn,
				del_yn,
				reg_dt,
				reg_id,
				mdfcn_dt,
				mdfcn_id,
				geom
    		)
    	VALUES (
    		#{fclty_id},
			#{lctn_cd},
			#{file_id},
			#{lctn_nm},
			#{lat},
			#{lot},
			#{now_opratn_yn},
			#{use_yn},
			#{del_yn},
			to_char(now(),'yyyymmddhhmmss'),
			#{reg_id},
			to_char(now(),'yyyymmddhhmmss'),
			#{mdfcn_id},
			(SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
    	)
    </insert>
    
    <update id="updateLocation" parameterType="map">
    	UPDATE
		    smg.tbsmcm002
		SET
		    file_id = #{file_id},
			lctn_nm = #{lctn_nm},
			lat = #{lat},
			lot = #{lot},
			now_opratn_yn = #{now_opratn_yn},
			use_yn = #{use_yn},
			del_yn = #{del_yn},
			mdfcn_dt = to_char(now(),'yyyymmddhhmmss'),
			mdfcn_id = #{mdfcn_id},
		    geom = (SELECT ST_Transform(ST_SetSRID(ST_Point(#{lot}, #{lat}), 4326), 5179))
		WHERE
		    lctn_cd = #{lctn_cd}
    </update>
    
    <delete id="deleteLocation" parameterType="String">
    	DELETE FROM smg.tbsmcm002 WHERE lctn_cd = #{lctn_cd}
    </delete>

</mapper>