<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restapi.mapper.RestApiMapper">

	<select id="selectAllUser" resultType="map">
		SELECT 
			user_id, 
			user_nm, 
			email,
			reg_dt, 
			updt_dt
		FROM
			tb_user
	</select>
	
	<select id="selectUser" resultType="map">
		SELECT
			user_id, 
			user_nm, 
			email,
			reg_dt, 
			updt_dt
		FROM
			tb_user
		WHERE
			user_id = #{user_id}
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO
		tb_user
		(
			user_id, 
			user_nm, 
			email,
			reg_dt, 
			updt_dt
		)
		VALUES(
			#{user_id},
			#{user_nm},
			#{email},
			now(),
			now()
		)
	</insert>
	
	<update id="updateUser" parameterType="map">
		UPDATE
			tb_user
		SET
			user_nm = #{user_nm},
			email = #{email},
			updt_dt = now()
		WHERE
			user_id = #{user_id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		DELETE FROM tb_user WHERE user_id = #{user_id}
	</delete>
	
</mapper>